#taco {
    color: brown;
}

#cookie {
    color: rgba(114, 51, 24, 0.837);
}

#lasagna {
    color: yellow;
}

h2 {
    color: blue;
    font-weight: 400;
}

h1 {
    font-family: "papyrus", Times, serif;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
}

.recipelist{
    font-size: 24px;
    padding-bottom: 10px;
}

.recipes {
    background-color: lightslategrey;
    margin: 40px;
    border: solid darkslategray 5px;
    padding: 10px;
}